.aboutUs {
    background-color: silver;
}
.aboutUsLeft {
    width: 50%;
}
.aboutUsRight {
    width: 50%;
    height: 200px;
    border-radius: 20px;
}

.carousel {
    width: 100%;
    height: 350px;
    margin: 0px var(--spaceOut);
    margin-bottom: var(--spaceIn2);
}
.carousel-item {
    width: 100%;
    height: 350px;
}