
@media screen and (min-width: 320px) and (max-width: 400px) and (orientation: portrait) {
    .headerPC {
        display: none;
    }
    .headerMobile {
        display: flex;
    }
}	

@media screen and (min-width: 320px) and (max-width: 400px) and (orientation: landscape) {
    body {
        background-color: lime; 
    }
}	


@media screen and (min-width: 400px) and (max-width: 800px) and (orientation: portrait) {
    .headerPC {
        display: none;
    }
    .headerMobile {
        display: flex;
    }
}	

@media screen and (min-width: 400px) and (max-width: 800px) and (orientation: landscape) {
    body {
        background-color: pink; 
    }
}	

@media screen and (max-width: 320px) {

}	
